<mat-card class="stat-block" [class.mat-elevation-z4]="true" [class.focused-improvement]="isFocusedImprovement">
  <mat-card-header>
    <mat-card-title>{{ statKey | titlecase }}</mat-card-title>
    <mat-card-subtitle>{{ getDndModifierString() }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="stat-value-container">
      <button mat-icon-button color="primary" (click)="decrementValue()" [disabled]="!canDecrement()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <mat-form-field appearance="outline">
        <input matInput type="number" [(ngModel)]="valueWithBumps"
               [disabled]="!isEditable" [max]="maxStatValue">
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="incrementValue()" [disabled]="!canIncrement()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div class="bump-checkboxes">
      <mat-checkbox *ngIf="canBeBumpedByOne || isBumpedOne" [(ngModel)]="isBumpedOne"
                    color="primary">+1
      </mat-checkbox>
      <mat-checkbox *ngIf="canBeBumpedByTwo || isBumpedTwo" [(ngModel)]="isBumpedTwo"
                    color="primary">+2
      </mat-checkbox>
    </div>
  </mat-card-content>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
</mat-card>
