<mat-card>
  <mat-card-header>
    <mat-card-title>Ability Scores</mat-card-title>
    <mat-card-subtitle>{{ pointCount }} / {{ max_points }} points used</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="stats-grid">
        @for (entry of statEntries; track entry.key) {
          <app-stat-block
            [statKey]="entry.key"
            [stats]="stats"
            [canBeBumpedByOne]="entry.canBeBumpedByOne"
            [canBeBumpedByTwo]="entry.canBeBumpedByTwo"
            [isFocusedImprovement]="entry.isFocusedImprovement"
            (valueChanged)="onStatChange($event)"
          ></app-stat-block>
        }
    </div>
  </mat-card-content>
</mat-card>
